* {
	box-sizing: border-box;
}

body {
    font-family: 'Arial';
    font-size: 12px;
	margin: 0 auto;
	
}

.navbar {
	position:fixed;
	display: block;
	z-index: 1;
	top:0;
	width:100%;
	background-color:black;
}

.menu-button {
	background-color: #404040;
    border: none;
    color: 	#cab287;
    text-align: center;
    font-size: 18px;
	font-weight: bold;
	border-radius: 0.3em;
	cursor: pointer;
	padding: 0.2em 0.4em;
	margin-left: 0.4em;
}

.menu-button:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.right-buttons-group {
	float:right;
	position:relative;
	right: 1em;
	top:1.5em
}

.left-buttons-group {
	float: left;
	position: relative;
	left: 1em;
	top: 1.5em;
}

.logo {
	float:right;
	position:relative;
	right:0;	
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
    -webkit-transition: -webkit-filter 2s;
}

.logo:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.main {
	position: relative;
	width: 33%;
	margin: 0 auto;
	top: 7em;
}

.login-field-label {
	
}

.login-button {
	
}