* {
	box-sizing: border-box;
}

body {
    font-family: 'Arial';
    font-size: 12px;
	margin: 0 auto;
	background:
		-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4))),
		url("../images/background.jpg");
}

.navbar {
	position:fixed;
	display: block;
	z-index: 1;
	top:0;
	width:100%;
	background-color:black;
}

.menu-button {
	background-color: #404040;
    border: none;
    color: 	#cab287;
    text-align: center;
    font-size: 16px;
	font-weight: bold;
	border-radius: 0.3em;
	cursor: pointer;
	padding: 0.2em 0.4em;
	margin-left: 0.4em;
}

.menu-button:hover {
	-webkit-transform: scale(1.1);
	-webkit-transition: -webkit-transform 0.1s;
	transform: scale(1.1);
}

.right-buttons-group {
	float:right;
	position:relative;
	right: 1em;
	top:1.5em
}

.left-buttons-group {
	float: left;
	position: relative;
	left: 1em;
	top: 1.5em;
}

.logo {
	float:right;
	position:relative;
	right:0;	
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
    -webkit-transition: -webkit-filter 2s;
}

.logo:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.login-form {
	position: relative;
	background-color: #FAFAFA;
	text-align: center;
	width: 40em;
	margin: auto;
	top: 7em;
	border-radius: 0.5em;
	border: 0.1em solid #BBB;
    padding: 0.1em 0.4em 0.1em 0.4em;
	overflow: hidden;
}

.login-field-label {
	right: 0;
	position: relative;
	display: block;
	width: 100%;
	margin: 0.5em auto;
}

.form-fields {
	display: table;
	margin: 0 auto;
}

.form-fields label{
	display: table-row;
	text-align: right;
	margin: auto;
	font-weight: bold;
	font-size: 14px;
}

.login-input, .form-fields label span {
	display: table-cell;
	margin: 0.3em 1em auto;
}

.login-input {
	border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
}

.login-button {
	position: relative;
	display: block;
	width: 98%;
	margin: 1em auto;
	left: 0;
	right: 0;
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:0.6em;
	border:1px solid #566963;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.login-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.login-button:active {
	position:relative;
	top:1px;
}

.close-button {
	position: relative;
	float: left;
	top:0.3em;
	left:0.1em;
	font-weight: bold;
	border-radius: 0.3em;
	cursor: pointer;
	padding: 0.2em 0.4em;
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.close-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.close-button:active {
	position:relative;
	top:1px;
}


.info {
	position: relative;
	text-align: right;
	background-color: lightblue;
	top: 0.5em;
	padding: 0.2em 0.6em;
	border-radius: 0.5em;
}