<!DOCTYPE html>
<html>
   
   <head>
		<script src = "./src/lib/angular.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-rtl.min.css">
   </head>
   
   <body ng-app = "myapp">
      
        <div ng-controller = "SoldiersController" class="container">
			
			
			<!-- Add soldiers section -->
			<div class="row">
				<div class = "panel panel-primary col-lg-9 col-lg-offset-1">
					<div class = "panel-body">
						<form class = "form-inline">
							<div class = "form-group">
								<label for = "name">שם:</label>
								<input id="name" type = "text" class="form-control" ng-model = "name">
							</div>
							<div class = "form-group">
								<label for = "age">גיל:</label>
								<select id="age" class = "form-control input-sm" 
									ng-options="age for age in validAges" ng-model="age"></select>
							</div>
							<div class = "form-group">
								<label for = "rank">דרגה:</label>
								<select class="form-control" 
									ng-options="rank for rank in validRanks" ng-model="rank"></select>
							</div>
							
							<div class = "form-group">
								<label for = "discharge">תת"ש</label>
								<input class="form-control" type="text" ng-model = "discharge">
							</div>
							
							<button class="btn btn-default" 
								ng-click = "addSoldier(name,age,rank,discharge)">הוספה</button>
						</form>
					</div>
				</div>
			</div>
			
			<!-- Soldiers table-->
			<div class="row">
				<table class="table table-striped col-lg-6 col-lg-offset-3">
					<thead>
						<tr>
							<th>שם</th>
							<th>גיל</th>
							<th>דרגה</th>
							<th>תאריך שחרור</th>
						</tr>
					</thead>
					<tr ng-repeat = "soldier in soldiersList">
						
						<td>{{soldier.name}}</td>
						<td>{{soldier.age}}</td>
						<td>{{soldier.rank}}</td>
						<td>{{soldier.discharge}}</td>
					</tr>
				</table>
			</div>
		</div>
      
      <script>
         angular.module("myapp", [])
         
         .controller("SoldiersController", function($scope) {
			<!-- Initial soldiers list -->
            $scope.soldiersList = []
			<!-- List of valid ages(valid age of a soldier) -->
			$scope.validAges = _.range(18,121)
			$scope.validRanks = ['קמ"א','קא"ב',
				'טוראי','רב"ט','סמל','סמ"ר','רס"ל','רס"ר','רס"ם','רס"ב','רנ"ם','רנ"ג',
				'סג"ם','סגן','סרן','רס"ן','סא"ל','אל"מ','תא"ל','אלוף','רא"ל']
			<!-- list of ranks -->
			<!-- Adds soldier according to given data about him -->
			$scope.addSoldier = function(name,age,rank,discharge) {
				$scope.soldiersList.push({name,age,rank,discharge})
			}

         });
      </script>
      
	  
      <script src = "./src/lib/lodash.min.js"></script>
	  <script src = "./src/lib/jquery.min.js"></script>
	  <script src = "./src/lib/bootstrap.min.js"></script>
   </body>
</html>