
<nav class = "navbar navbar-inverse ">
    <div class = "container-fluid">
        <div class = "navbar-header">

            <!-- Toggle button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- <img class = "navbar-brand" src = "./images/logo.jpg"> -->
            <a class = "navbar-brand" href = "#">Mamram</a>
        </div>

<!--        Unauthenticated navbar body-->
        <div class="collapse navbar-collapse" id="myNavbar" ng-if = "!user">
            <ul class = "nav navbar-nav">
                <span ng-controller = "loginModalController as $ctrl">
                    <button type = "button" class = "btn btn-primary navbar-btn"
                    ng-click = "$ctrl.open('sm')">התחבר</button>
                </span>
                <span ng-controller = "registerModalController as $ctrl">
                    <button type="button" class = "btn btn-primary navbar-btn" ng-click = "$ctrl.open('sm')">הרשמה</button>
                </span>
            </ul>
            <ul class = "nav navbar-nav navbar-left">
                <button type = "button" class = "btn btn-info navbar-btn">?</button>
            </ul>
        </div>

<!--        Authenticated navbar body-->
            <div class="collapse navbar-collapse" id="myNavbar" ng-if = "user" ng-controller = "navController">
                <ul class = "nav navbar-nav">
                    <button  ng-click = "logout()" type = "button" class = "btn btn-primary navbar-btn">התנתק</button>
                </ul>
                <ul class = "nav navbar-nav navbar-left">
                    <span ng-controller = "profileCardModalController as $ctrl">
                      <button type = "button" ng-click = "$ctrl.open(user)" class = "btn btn-info navbar-btn">Hello {{user}}</button>
                    </span>
                </ul>
            </div>
    </div>
</nav>
