
<nav class = "navbar navbar-inverse ">
    <div class = "container-fluid">
        <div class = "navbar-header">

            <!-- Toggle button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- <img class = "navbar-brand" src = "./images/logo.jpg"> -->
            <a class = "navbar-brand" href = "#">Mamram</a>
        </div>

<!--        Unauthenticated navbar body-->
        <div class="collapse navbar-collapse" id="myNavbar" ng-if = "!user" ng-controller = "RegisterModalCtrl as $ctrl">
            <ul class = "nav navbar-nav">
                <button type = "button" class = "btn btn-primary navbar-btn" 
                    data-toggle = "modal" data-target = "#login-modal">התחבר</button>
                    <button type="button" class = "btn btn-primary navbar-btn" ng-click = "$ctrl.open('sm')">הרשמה</button>
            </ul>
            <ul class = "nav navbar-nav navbar-left">
                <button type = "button" class = "btn btn-info navbar-btn">?</button>
            </ul>
        </div>
        
<!--        Authenticated navbar body-->
        <div class="collapse navbar-collapse" id="myNavbar" ng-if = "user">
            <ul class = "nav navbar-nav">
                <button  ng-click = "logout()" type = "button" class = "btn btn-primary navbar-btn">התנתק</button>
            </ul>
            <ul class = "nav navbar-nav navbar-left">
                <button type = "button" class = "btn btn-info navbar-btn">Hello {{user}}</button>
            </ul>
        </div>        
    </div>
</nav>